<div class="shop-select">
  <ng-select
    #ngSelectComponent
    bindValue="id"
    bindLabel="name"
    [items]="shops"
    placeholder="Explore Shops"
    notFoundText="Shop Not Found"
    [clearSearchOnAdd]="true"
    (change)="onSelectedShop($event)"
  >
    <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
      <ion-item class="shop-select-item" detail>
        <ion-avatar slot="start">
          <img src="https://source.unsplash.com/64x64/?grocery" />
        </ion-avatar>
        <ion-label
          >{{ item.name }}<br /><ion-note>{{ item.address }}</ion-note></ion-label
        >
      </ion-item>
    </ng-template>
  </ng-select>
</div>

<ion-content>
  <div #leafletMap style="width: 100%; height: 100%;"></div>
</ion-content>
