<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="shop">Reserve time for {{ shop.name }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="shop">
  <mwl-calendar-week-view
    [events]="events"
    [daysInWeek]="7"
    [dayStartHour]="dayStartHour"
    [dayEndHour]="dayEndHour"
    [refresh]="refreshCalendar"
    [viewDate]="viewDate"
    (hourSegmentClicked)="appointmentSelected($event)"
  ></mwl-calendar-week-view>
</ion-content>
